
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>Flexbox nuovo</p>
<div class="flex">
    <div>uno</div>
    <div>due</div>
    <div>tre</div>
</div>



<header class="flex-header">header</header>
<div id='main'>
    <article>article</article>
    <nav>nav</nav>
    <aside>aside</aside>
</div>
<footer class="flex-footer">footer</footer>

