
@{
    var showDataSources = false;
}
<!-- MENU: Settings Modal -->
<div class="modal fade settings-modal" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="settingsModalLabel">
                    <span class="fa fa-cogs fa-lg"></span>
                    Settings
                </h4>
            </div>
            <div class="modal-body">

                <div class="error-result"></div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBox("ShowDataSourceFields", showDataSources, new { @class = "checkbox" })
                                Show data source values automatically
                            </label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveSettings">Save changes</button>
            </div>
        </div>
    </div>
</div>