<div class="sub-menu subject">
    <div class="container navbar">
        <nav class="nav">
            @Helpers.NavigationHelpers.BuildSubMenuActionLink("Property Detail", "Index", "Default", Url, Html, "nav-link", "fa fa-folder-open-o fa-lg")
            @Helpers.NavigationHelpers.BuildSubMenuActionLink("Deeds", "Deeds", "Subject", Url, Html, "nav-link", "fa fa-file-text-o fa-lg")
        </nav>
    </div>
</div>

