
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<br />
<a href="#" id="TestGetApi">Test Web API GET</a>
<br />
<br />
<a href="#" id="TestPostApi">Test Web API POST</a>
<br />
<br />
<a href="#" id="AnotherTestPostApi">Test Web API POST 2</a>

