
@{
    ViewBag.Title = "Buttons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Buttons</h2>

<div class="ryan-buttons">

    <div class="row">
        <a href="#" class="btn btn-link" role="button">
            <i class="fa fa-long-arrow-left"></i>
            back
        </a>
        <a href="#" class="btn btn-default btn-nav btn-lg pull-right" role="button">
            Continue to Graphs
            <i class="fa fa-chevron-right"></i>
        </a>
    </div>

</div>