
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<input type="text" id="propertyAddress" placeholder="Address" />
<input type="button" id="searchProperty" value="Get Streetside View" />
<input type="button" id="testError" value="Test Error" />
<input type="button" value="Get Center" id="bingMapCenter" />
<br />
<div id="bingMapCanvas" class="map-canvas bing-map-canvas"></div>

<div class="error-loading" id="loadError">
    <span class="fa fa-exclamation-triangle fa-4x"></span>
    <span class="error-text">
        Error loading Streetside View
    </span>
</div>

<div class="error-no-address" id="noAddress">
    <span class="error-text">
        No Address
    </span>
    <span class="fa fa-thumbs-o-down fa-4x"></span>
</div>

@section htmlhead {
    <style>
        .error-loading {
            display: none;
            position: absolute;
            text-align: center;
            top: 50%;
            width: 100%;
        }

            .error-loading .fa-exclamation-triangle {
                color: #ffd54d;
                text-shadow: 1px 1px 1px rgba(128, 128, 128, 1);
                -webkit-text-stroke: 2px #9e0b0f;
            }

            .error-loading .error-text {
                color: #9e0b0f;
                font-size: 40px;
                font-weight: 400;
                text-shadow: 1px 1px 1px rgba(128,128,128,0.8);
                text-transform: uppercase;
                vertical-align: top;
            }

        .error-no-address {
            color: #9e0b0f;
            display: block;
            position: absolute;
            text-align: center;
            text-shadow: 1px 1px 1px rgba(128,128,128,0.8);
            top: 50%;
            width: 100%;
        }

            .error-no-address .error-text {
                font-size: 40px;
                font-weight: 400;
                text-transform: uppercase;
                vertical-align: top;
            }
    </style>
}

@section PageScripts {
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?branch=release'></script>
    <script type='text/javascript'>
        function streetsideMapBing() {
            var self = this;

            self.map = {};  // Bing Map object

            self.loadMapScenario = function (lat, lon) {
                self.map = new Microsoft.Maps.Map(document.getElementById('bingMapCanvas'), {
                    credentials: 'Auqz2ch8xDX5NnG_53PKz4OaWZMw_YKV-iGdFEzw0N4dX86GREoQaa0lPVjt9GBk',
                    //credentials: '4hAt5dJXkTHw8pKicEHW~3G1ueYq_0QyFBS0YFBF9NA~AshZkh90FnrHFnkaB4qCRApzAtvZsSa9u49dyCojtw-nQnVx7RlaE2l98oM8RQt4',
                    //mapTypeId: Microsoft.Maps.MapTypeId.road,
                    mapTypeId: Microsoft.Maps.MapTypeId.streetside,
                    ////center: new Microsoft.Maps.Location(47.619757, -122.348854),
                    ////center: new Microsoft.Maps.Location(41.0755333, -111.9543342),
                    //center: new Microsoft.Maps.Location(40.4016203, -111.9331935),
                    center: new Microsoft.Maps.Location(lat, lon),
                    zoom: 19,
                    streetsideOptions: {
                        overviewMapMode: Microsoft.Maps.OverviewMapMode.hidden,
                        onErrorLoading: self.noStreetsideFound,
                        //locationToLookAt: new Microsoft.Maps.Location(40.4016203, -111.9331935)
                        locationToLookAt: new Microsoft.Maps.Location(lat, lon)
                    },
                });
                /*var pushpin = new Microsoft.Maps.Pushpin(map.getCenter(), {
                    icon: 'https://www.bingmapsportal.com/Content/images/poi_custom.png',
                    anchor: new Microsoft.Maps.Point(12, 39)
                });*/
                //var pushpin = new Microsoft.Maps.Pushpin(map.getCenter(), { color: '#2b5c87' });
                //var pushpin = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(41.0755333, -111.9543342),
                //                                         { color: '#2b5c87', text: 'DM', title: 'DataMaster', subTitle: 'For Appraisers' });
                //map.entities.push(pushpin);

                //map.setView({ mapTypeId: Microsoft.Maps.MapTypeId.streetside });
                //alert('hi');
            }

            self.noStreetsideFound = function () {
                alert('no streetside found');
                self.map.setView({
                    mapTypeId: Microsoft.Maps.MapTypeId.road,
                    zoom: 16
                });
            }

            return self;
        }

        //var streetside = new streetsideMapBing();
        //var loadTheMap = streetside.loadMapScenario();

        window.onload = function () {
            var streetside = new streetsideMapBing();
            streetside.loadMapScenario("40.4016203", "-111.9331935");

            function getCenter() {
                var center = streetside.map.getCenter();
                alert(center);
            }

            function geoCodeAndMapProperty(address) {
                document.getElementById('bingMapCanvas').style.display = 'block';
                Microsoft.Maps.loadModule('Microsoft.Maps.Search', function () {
                    var searchManager = new Microsoft.Maps.Search.SearchManager(streetside.map);
                    var requestOptions = {
                        where: document.getElementById('propertyAddress').value,
                        callback: function (answer, userData) {
                            //var newLoc = answer.results[0].location;
                            streetside.map.dispose();
                            streetside.loadMapScenario(answer.results[0].location.latitude, answer.results[0].location.longitude);
                        }
                    };
                    searchManager.geocode(requestOptions);
                });
            }

            function showErrorElement() {
                document.getElementById('bingMapCanvas').style.display = 'none';
                document.getElementById('loadError').style.display = 'block';
            }

            var el = document.getElementById('bingMapCenter');
            el.addEventListener("click", getCenter, false);

            var propertySearchButton = document.getElementById('searchProperty');
            propertySearchButton.addEventListener("click", geoCodeAndMapProperty, false);

            var testErrorButton = document.getElementById('testError');
            testErrorButton.addEventListener("click", showErrorElement, false);
        }

        //(function () {
        //    var streetside = new streetsideMapBing();
        //    streetside.loadMapScenario();
        //})();
    </script>
    @*<script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?branch=release&callback=loadTheMap' async defer></script>*@


    <script type='text/javascript'>
        var x = document.documentMode;
        document.write("<br />documentMode: " + x);
        var nav = navigator;
        document.write('<br />userAgent: ' + nav.userAgent);
    </script>
}