
@import "DefaultStyle.less";
@import "CompSearch.less";




label {
    color: #707070;
    font-weight: normal;
}

h2 {
    margin: 10px 0 5px;
}

.comps-grid-container {

    @grid-blue: #327fba;
    @grid-border: #abadb3;
    @grid-green: #00bb3f;
    /*@grid-label-bg: rgba(84, 84, 84, 0.3);*/
    @grid-label-bg: rgba(0,114,188,0.2);
    @grid-row-height: 30px;
    @tall-grid-height: 50px;
    @double-grid-height: 60px;

    .grid-header {
        font-size: 14px;
        font-weight: normal;
        margin: 5px 0;
        overflow: auto;
        padding: 0;

        label {
            display: block;
            margin: 2px 0 0 4px;
        }

        select {
            padding: 4px 6px;
        }

        .comp-count {
            display: inline-block;
            float: right;
            font-size: 13px;
            font-style: italic;
            margin: 5px 15px 0 0;
            position: relative;
            text-transform: lowercase;

            .count {
                display: block;
                font-size: 20px;
                font-weight: 700;
                line-height: 12px;
                margin: 3px 0 0 3px;
                float: right;
            }
        }

        .btn {
            &.btn-add-comps {
                float: right;
                font-size: 12px;
                padding: 4px 10px;
                text-transform: uppercase;
            }
        }
    }

    .grid-item {
        /*border-top: 10px solid @grid-green;*/
        border: 1px solid @grid-border;
        border-left: none;
        display: inline-block;
        float: left;
        margin: 0;
        min-height: 300px;
        overflow: visible;
        position: relative;
        -moz-transition: -moz-transform 0.2s ease;
        -o-transition: -o-transform 0.2s ease;
        -webkit-transition: -webkit-transform 0.2s ease;
        transition: transform 0.2s ease;
        width: 230px;

        h1 {
            background-color: @grid-green;
            color: #fff;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: normal;
            margin: 0;
            padding: 6px 0 5px 30px;
            position: relative;
            text-transform: uppercase;

            .draggable-icon {
                background: transparent url(../images/draggable-icon.png) no-repeat 0 0;
                cursor: move;
                display: inline-block;
                height: 15px;
                left: 6px;
                opacity: 0.3;
                position: absolute;
                top: 5px;
                width: 15px;
            }
        }

        .row {
            margin-left: 0;
            margin-right: 0;

            .col-md-12 {
                padding: 0;
            }

            .item-photo {
                cursor: pointer;
                display: inline-block;
                height: 100px;
                margin: 4px 0 0 4px;
                position: relative;
                width: 133px;
                float: left;

                img {
                    border: 1px solid #000;
                    height: 100px;
                    min-width: 132.66px;
                    width: auto;
                }

                .photo-icon {
                    color: @grid-blue;
                    padding: 12px 0 0 19px;
                }

                .add-photo-icon {
                    background-color: #fff;
                    border: 3px solid @grid-green;
                    border-radius: 17px;
                    top: 45px;
                    color: @grid-green;
                    padding: 1px 3px 0 4px;
                    position: absolute;
                    left: 64px;
                }
            }

            .parcel-detail-link-container {
                display: block;
                float: left;
                margin: 34px 0 0 1px;
                padding: 0;
                vertical-align: middle;
                width: 89px;


                a {
                    background-color: rgba(50, 127, 186, 0.85);
                    color: #fff;
                    display: block;
                    font-size: 13px;
                    padding: 8px 0;
                    text-align: center;

                    &:first-child {
                        border-bottom: 1px solid #fff;
                    }

                    &:hover, &:focus {
                        text-decoration: none;
                        background-color: rgba(50, 127, 186, 0.95);
                    }
                }
            }

            address {
                margin: 5px 0 15px;
                padding-left: 4px;

                .address {
                    font-size: 15.5px;
                    font-weight: bold;
                    line-height: normal;
                }

                .address-sub {
                    font-size: 0.9em;
                    line-height: 11px;
                }
            }

            &.grid-row {
                border-top: 1px solid @grid-border;
                position: relative;

                div[class^="col-"] {
                    padding: 6px 0 6px 2px;
                    height: @grid-row-height;

                    .form-control {
                        background-color: transparent;
                        border: none;
                        border-radius: 0;
                        height: @grid-row-height;
                        padding: 0 4px;

                        @placeholder-color: rgba(0,114,188,0.3);
                        /*@placeholder-color: rgba(171, 173, 179,0.6);*/
                        &::-webkit-input-placeholder {
                            color: @placeholder-color;
                            font-size: 12px;
                        }

                        &::-moz-placeholder {
                            color: @placeholder-color;
                            font-size: 12px;
                        }

                        &:-moz-placeholder {
                            color: @placeholder-color;
                            font-size: 12px;
                        }

                        &:-ms-input-placeholder {
                            color: @placeholder-color;
                            font-size: 12px;
                        }
                    }

                    .input-group {
                        .form-control {
                            box-shadow: none;
                        }
                    }

                    .form-focus-focus {
                        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
                    }

                    .input-group-addon {
                        border: none;
                        border-radius: 0;
                        background-color: transparent;
                        color: rgba(0,0,0,0.4);
                        padding: 3.5px 0 0 3px;

                        &.trailing {
                            padding: 3.5px 2px 0 0;
                        }

                        &.sm {
                            font-size: 0.8em;
                        }
                    }

                    input[type=number] {
                        -moz-appearance: textfield;

                        &::-webkit-inner-spin-button,
                        &::-webkit-outer-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }

                    &.adjust-plus-minus {
                        text-align: center;

                        a {
                            color: rgba(0,0,0,0.25);
                            font-size: 1.2em;
                            margin-top: 10px;
                            /*font-size: 28px;
                            font-weight: bold;
                            display: inline-block;
                            margin-top: 4px;
                            line-height: 17px;
                            padding: 0 3px 0.5px 3px;*/
                            &.selected {
                                color: @grid-blue;
                                text-shadow: 0 0 2px @grid-green;
                            }

                            &:hover, &:focus {
                                color: @grid-blue;
                                outline: none;
                                text-decoration: none;
                                text-shadow: 0 0 2px @grid-green;
                            }

                            &:last-child {
                                margin-left: 30px;
                            }
                        }
                    }

                    &.adjusted-sales-price {
                        height: @double-grid-height;

                        .container-fluid {
                            padding-left: 0;
                            padding-right: 0;

                            .row {

                                .input-group-addon {
                                    font-size: 0.9em;
                                    padding-right: 1px;
                                }

                                &:first-child {
                                    border-bottom: 1px solid @grid-border;
                                }
                            }
                        }

                        .input-group {

                            &.vert-align {
                                height: 60px;

                                .form-control {
                                    height: 60px;
                                }
                            }
                        }

                        &.grid-label {
                            padding-top: 21px;
                        }
                    }

                    &.grid-adjust {
                        background-color: rgba(0,114,188,0.03);

                        input {
                            text-align: right;
                        }
                    }

                    &.grid-input {
                        padding: 0;
                    }

                    &.grid-label {
                        background-color: @grid-label-bg;
                        font-family: 'PT Sans', Lato;
                        font-size: 12px;
                        white-space: nowrap;

                        &.label-header {
                            font-style: italic;
                            font-weight: bold;
                            text-align: center;
                        }
                    }

                    &.room-count {
                        height: @tall-grid-height;
                        white-space: normal;

                        &.grid-input {
                            padding: 0;
                        }

                        .container-fluid {
                            margin: 0;
                            padding: 0;

                            .row {
                                .grid-label {
                                    border-bottom: 1px solid @grid-border;
                                    border-right: 1px solid @grid-border;
                                    height: auto;
                                    padding: 1px 0;
                                    text-align: center;

                                    &:last-child {
                                        border-right: none;
                                    }
                                }

                                .grid-input {
                                    border-right: 1px solid @grid-border;

                                    &:last-child {
                                        border-right: none;
                                    }
                                }
                            }
                        }
                    }

                    &:first-child {
                        border-right: 1px solid @grid-border;
                    }

                    &.col-md-12 {
                        border-right: none;
                    }
                }

                .flyout {
                    display: none;
                    /*border: 1px solid #abadb3;*/
                    /*background-color: rgba(0,0,0,0.2);*/
                    background-color: rgba(102,175,233,0.4);
                    border-bottom-right-radius: 10px;
                    border-top-right-radius: 10px;
                    /*box-shadow: 0px 0px 7px rgba(0,0,0,0.4);*/
                    box-shadow: 1px 0 7px rgba(102,175,233,0.6);
                    height: 30px;
                    padding-left: 2px;
                    padding-right: 8px;
                    position: absolute;
                    right: -69px;
                    top: 0;
                    z-index: 99 !important;

                    @icon-color: #2b5c87;

                    .fa {
                        color: rgba(255,255,255,1.0);
                        cursor: pointer;
                        margin-top: 1px;
                        text-shadow: 2px 2px 0 @icon-color, -1px -1px 0 @icon-color, 1px -1px 0 @icon-color, -1px 1px 0 @icon-color, 1px 1px 0 @icon-color;
                        text-decoration: none;

                        &:first-child {
                            margin-right: 6px;
                        }

                        @icon-color-hover: #aa1c03;

                        &:hover, &:focus {
                            /*color: #fefbdd;*/
                            text-shadow: 2px 2px 0 @icon-color-hover, -1px -1px 0 @icon-color-hover, 1px -1px 0 @icon-color-hover, -1px 1px 0 @icon-color-hover, 1px 1px 0 @icon-color-hover;
                            text-decoration: none;
                            border: none;
                            outline: none;
                        }
                    }

                    &.room-count {
                        top: 20px;
                    }

                    &.address {
                        top: 15px;
                    }
                }

                &.address-row {
                    height: auto;
                    border: none;

                    div[class^="col-"] {
                        height: auto;
                        padding: 0;
                    }
                }
            }
        }

        &.subject {
            border-left: 1px solid @grid-border;
            border-top-color: @grid-blue;
            margin-right: 5px;
            width: 240px;

            &.scrolling-top-margin {
                margin-top: 22px;
            }

            h1 {
                background-color: @grid-blue;
                padding-left: 10px;
            }

            .parcel-detail-link-container {
                width: 98px;
            }
        }

        &.first {
            border-left: 1px solid @grid-border;
            width: 231px;
        }

        &.dragging {
            border-left: 1px solid @grid-border;
            opacity: 0.25;
            -moz-transform: scale(0.8);
            -ms-transform: scale(0.8);
            -o-transform: scale(0.8);
            -webkit-transform: scale(0.8);
            transform: scale(0.8);
        }

        &.dragging-sibling {
            border-left: 1px solid @grid-border;
        }

        &.drag-over {
            border-right: 3px dotted @grid-blue;

            &.dragging {
                border-right: 1px solid @grid-border;
            }
        }

        &.grid-item-focus {
            box-shadow: 0 0 2px 2px rgba(255,242,0,0.3);
        }
    }

    .comp-container {

        &.horizontal-scroll {
            box-shadow: inset -4px 0 8px -4px rgba(0,0,0,0.2), inset 4px 0 8px -4px rgba(0, 0, 0, 0.2);
            overflow-x: scroll;
        }

        &.top-scrollbar, &.top-scrollbar .comps { // Hack to move scrollbar to top of div - http://stackoverflow.com/questions/18997724/how-to-change-scroll-bar-position-with-css
            -moz-transform: rotateX(180deg);
            -ms-transform: rotateX(180deg);
            -o-transform: rotateX(180deg);
            -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
        }

        .comps {
            display: inline-block;
            margin: 0;
            padding: 0;
            white-space: nowrap;
        }
    }

    @media (min-width: 768px) {
        .modal-dialog {
            &.img-modal {
                width: 750px;
            }
        }
    }

    .pics-container {
        .row {

            div[class^="col-"] {
                @pic-border-color: #000;

                .main-img {
                    border: 1px solid @pic-border-color;
                    height: auto;
                    min-width: 232.66px;
                    width: 99%;
                }

                .img-title {
                    color: red;
                    display: block;
                    text-align: center;
                }

                .thumbnail-img {
                    border: 1px solid @pic-border-color;
                    cursor: pointer;
                    display: inline-block;
                    height: auto;
                    margin-bottom: 3px;
                    max-width: 32%;
                    transition: all .2s ease-in-out;

                    &:hover {
                        box-shadow: 0 0 4px navy;

                        &.selected {
                            box-shadow: 0 0 8px rgba(255,0,0,0.8);
                        }
                    }

                    &.selected {
                        box-shadow: 0 0 8px rgba(255,0,0,0.8);
                    }
                }
            }
        }
    }
}

/* Propety Popover style */
.popover-label {

    & + .popover {
        max-width: none;

        .popover-title {
            display: none;
        }

        .popover-content {
            font-size: 14px;
            padding: 5px 7px;

            .data-source-grid {
                border-spacing: 0 1px;
                display: table;

                .source-item-row {
                    cursor: pointer;
                    display: table-row;
                    margin-top: 1px;

                    .col {
                        border: 2px solid transparent;
                        display: table-cell;
                        padding: 0;

                        &.source-item-name {
                            color: #707070;
                            font-size: 12px;
                            font-weight: normal;
                            min-width: 120px;
                            padding: 8px 10px 0 2px;
                        }

                        &.source-item-value {
                            padding: 5px;
                        }
                    }

                    &.selected {
                        .source-item-name {
                            font-weight: bold;
                        }

                        .source-item-value {
                            background-color: #63dd8d;
                            color: #fff;
                            font-weight: bold;
                        }
                    }

                    &:hover {
                        background-color: #ebebeb;

                        .source-item-value {
                            border: 2px solid #63dd8d;
                        }
                    }
                }
            }
        }
    }
}



/* Chrome hack */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .comps-grid-container .grid-item .row .parcel-detail-link-container {
        margin-top: 35px;
    }
}

.hmm-error {
    background-color: rgba(255,255,255,0.9);
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
    display: none;
    padding-bottom: 5px;
    position: absolute;
    width: 150px;
    z-index: 5;

    .icon {
        background: transparent url(../images/thinking-face.png) no-repeat 0 0;
        display: inline-block;
        height: 44px;
        margin-left: 39%;
        margin-top: -24px;
        position: relative;
        right: 0;
        top: 17px;
        width: 42px;
        z-index: 1;
    }

    .text {
        color: #ed1c24;
        display: block;
        font-family: 'Titillium Web';
        font-size: 24px;
        font-weight: 600;
        position: relative;
        text-align: center;
        /*text-shadow: 1px 1px 2px rgba(0,0,0,0.6);*/
        z-index: 2;

        &.top {
            font-size: 28px;
            line-height: 30px;
            margin-bottom: 0;
            margin-left: 22px;
        }

        &.bottom {
            font-size: 15px;
            line-height: 16px;
            margin-top: 8px;
        }
    }
}
