@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);


body {
    font-size: 14px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    border-radius: 0;
    max-width: 400px;
}


/* Header */
header {
    background-color: rgba(0, 52, 113, 0.75);
    box-shadow: 0px 1px 2px #707070;
    color: #fff;
    min-height: 60px;
}

/* Header */
header .container {
    position: relative;
}

header #logo {
    background: url(../Content/images/logo-white.png) no-repeat 0 14px;
    float: left;
    overflow: auto;
}

header #logo h1 {
    font-size: 28px;
    letter-spacing: 3px;
    margin-left: 47px;
    text-shadow: 0 0 7px rgba(255,255,255,0.8), 
        -1px -1px 0 #636363,  
        1px -1px 0 #636363,
        -1px 1px 0 #636363,
        1px 1px 0 #636363;
    text-transform: lowercase;
}

header #logo h1 span {
    font-style: italic;
}

/* Header - NavBar */
header .navbar {
    float: right;
    margin-bottom: 0px;
    min-height: 0;

    position: absolute;
    bottom: 0;
    right: 0;
}

.navbar ul.nav li {
    border-left: 1px dotted #d3d2d2;
}

.navbar ul.nav li.first {
    border-left: none;
}

.navbar ul.nav li a {
    color: #fff;
    min-width: 100px;
    padding: 5px 10px;
    text-align: center;
}

.navbar ul.nav li a:hover {
    color: #fff;
}

.nav > li > a:focus,
.nav > li > a:hover {
    background-color: rgba(238, 238, 238, 0.2);
}

.nav > li.active > a:focus, 
.nav > li.active > a:hover {
    background-color: transparent;
    cursor: default;
}


/* Body */
#body {
    min-height: 300px;
}


.flex
   {
      /* basic styling */
      width: 350px;
      height: 200px;
      border: 1px solid #555;
      font: 14px Arial;

      /* flexbox setup */
      display: -webkit-flex;
      -webkit-flex-direction: row;

      display: flex;
      flex-direction: row;
   }

   .flex > div
   {
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;

      width: 30px; /* To make the transition work nicely.  (Transitions to/from
                      "width:auto" are buggy in Gecko and Webkit, at least.
                      See http://bugzil.la/731886 for more info.) */

      -webkit-transition: width 0.7s ease-out;
      transition: width 0.7s ease-out;
   }

   /* colors */
   .flex > div:nth-child(1){ background : #009246; }
   .flex > div:nth-child(2){ background : #F1F2F1; }
   .flex > div:nth-child(3){ background : #CE2B37; }

   .flex > div:hover
   {
        width: 200px;
   }



   #main {
   min-height: 800px;
   margin: 0px;
   padding: 0px;
   display: -webkit-flex;
   display:         flex;
   -webkit-flex-flow: row;
           flex-flow: row;
   }
 
  #main > article {
   margin: 4px;
   padding: 5px;
   border: 1px solid #cccc33;
   border-radius: 7pt;
   background: #dddd88;
   -webkit-flex: 3 1 60%;
           flex: 3 1 60%;
   -webkit-order: 2;
           order: 2;
   }
  
  #main > nav {
   margin: 4px;
   padding: 5px;
   border: 1px solid #8888bb;
   border-radius: 7pt;
   background: #ccccff;
   -webkit-flex: 1 6 20%;
           flex: 1 6 20%;
   -webkit-order: 1;
           order: 1;
   }
  
  #main > aside {
   margin: 4px;
   padding: 5px;
   border: 1px solid #8888bb;
   border-radius: 7pt;
   background: #ccccff;
   -webkit-flex: 1 6 20%;
           flex: 1 6 20%;
   -webkit-order: 3;
           order: 3;
   }
 
  header.flex-header, footer.flex-footer {
   display: block;
   margin: 4px;
   padding: 5px;
   min-height: 100px;
   border: 1px solid #eebb55;
   border-radius: 7pt;
   background: #ffeebb;
   }
 
  /* Too narrow to support three columns */
  @media all and (max-width: 640px) {
  
   #main, #page {
    -webkit-flex-flow: column;
            flex-direction: column;
   }

   #main > article, #main > nav, #main > aside {
    /* Return them to document order */
    -webkit-order: 0;
            order: 0;
   }
  
   #main > nav, #main > aside, header.flex-header, footer.flex-footer {
    min-height: 50px;
    max-height: 50px;
   }
  }




/* Footer */
footer.container {
    border-top: 1px dotted #707070;
    clear: both;
    color: #707070;
    font-size: 11px;
    margin: 0 auto;
    padding: 5px;
}
